<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7da28d">  <td>20/04/14 13:41:10</td>   <td>0</td> <td title="&gt;&gt;LoginMsisdnTest.goToLoginWithMsisdn_Ind()[pri:0, instance:appiumtests.LoginMsisdnTest@1f57539]">&gt;&gt;goToLoginWithMsisdn_Ind</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@699780352</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>20/04/14 13:41:19</td>   <td>9076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginMsisdnTest.loginusingXL()[pri:0, instance:appiumtests.LoginMsisdnTest@1f57539]">loginusingXL</td> 
  <td>main@699780352</td>   <td></td> </tr>
<tr bgcolor="a86dd7">  <td>20/04/14 13:40:32</td>   <td>-37339</td> <td title="&gt;&gt;BaseClass.setupAppium()[pri:0, instance:appiumtests.LoginMsisdnTest@1f57539]">&gt;&gt;setupAppium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@699780352</td>   <td></td> </tr>
<tr bgcolor="a86dd7">  <td>20/04/14 13:41:26</td>   <td>15911</td> <td title="&lt;&lt;BaseClass.uninstallApp()[pri:0, instance:appiumtests.LoginMsisdnTest@1f57539]">&lt;&lt;uninstallApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@699780352</td>   <td></td> </tr>
</table>
