<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6366b4">  <td>20/04/15 14:17:14</td>   <td>0</td> <td title="&gt;&gt;BaseClass.setupAppium()[pri:0, instance:appiumtests.LoginMsisdnTest@30a3107a]">&gt;&gt;setupAppium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@317986356</td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>20/04/15 14:18:47</td>   <td>93388</td> <td title="&gt;&gt;LoginMsisdnTest.goToLoginWithMsisdn_Ind()[pri:0, instance:appiumtests.LoginMsisdnTest@30a3107a]">&gt;&gt;goToLoginWithMsisdn_Ind</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@317986356</td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>20/04/15 14:18:57</td>   <td>102816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginMsisdnTest.loginUsingAxisNumber()[pri:0, instance:appiumtests.LoginMsisdnTest@30a3107a]">loginUsingAxisNumber</td> 
  <td>main@317986356</td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>20/04/15 14:19:04</td>   <td>109913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginMsisdnTest.loginUsingPospaidMsisdn()[pri:0, instance:appiumtests.LoginMsisdnTest@30a3107a]">loginUsingPospaidMsisdn</td> 
  <td>main@317986356</td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>20/04/15 14:19:11</td>   <td>116949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginMsisdnTest.loginusingXL()[pri:0, instance:appiumtests.LoginMsisdnTest@30a3107a]">loginusingXL</td> 
  <td>main@317986356</td>   <td></td> </tr>
<tr bgcolor="6366b4">  <td>20/04/15 14:19:35</td>   <td>141016</td> <td title="&lt;&lt;BaseClass.uninstallApp()[pri:0, instance:appiumtests.LoginMsisdnTest@30a3107a]">&lt;&lt;uninstallApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@317986356</td>   <td></td> </tr>
</table>
